.col-sm-12 {
  border: 1px gray solid;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

/* .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  display: none;
} */
#panel-scrolling {
  height: 150px;
  overflow-y: scroll;
}

.map-responsive {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#map {
  height: 400px;
  width: auto;
}