<Config>
  <Parametros>
    <Path>localhost</Path>
    <Puerto>8080</Puerto>
  </Parametros>
  <Alertas>
    <Id>0</Id>
    <Nombre>Obtener la posición actual</Nombre>
    <Id>1</Id>
    <Nombre>Descargar registro</Nombre>
    <Id>2</Id>
    <Nombre>Seguimiento en modo tiempo</Nombre>
    <Id>3</Id>
    <Nombre>Mensaje de texto publicado</Nombre>
    <Id>4</Id>
    <Nombre>Seguimiento en modo distancia</Nombre>
    <Id>5</Id>
    <Nombre>Seguimiento en modo rumbo</Nombre>
    <Id>6</Id>
    <Nombre>No definido</Nombre>
    <Id>7</Id>
    <Nombre>No definido</Nombre>
    <Id>8</Id>
    <Nombre>No definido</Nombre>
    <Id>9</Id>
    <Nombre>ID de codigo de barras</Nombre>
    <Id>10</Id>
    <Nombre>Id de conductor autorizado</Nombre>
    <Id>11</Id>
    <Nombre>Servicio de voz</Nombre>
    <Id>12</Id>
    <Nombre>FOTA completado</Nombre>
    <Id>13</Id>
    <Nombre>Bloqueo de señal GSM</Nombre>
    <Id>14</Id>
    <Nombre>Datos del sensor-G por impacto detectado</Nombre>
    <Id>15</Id>
    <Nombre>Reporte de: resumen de viaje o sensor de combustible detectado</Nombre>
    <Id>16</Id>
    <Nombre>Falla FOTA</Nombre>
    <Id>17</Id>
    <Nombre>Envío de posición por llamada</Nombre>
    <Id>18</Id>
    <Nombre>Id celda celular</Nombre>
    <Id>19</Id>
    <Nombre>No definido</Nombre>
    <Id>20</Id>
    <Nombre>No definido</Nombre>
    <Id>21</Id>
    <Nombre>Descarga del registro completada</Nombre>
    <Id>22</Id>
    <Nombre>Codigo DTC</Nombre>
    <Id>23</Id>
    <Nombre>ID de conductor no autorizado</Nombre>
    <Id>24</Id>
    <Nombre>Codigo DTC pendiente</Nombre>
    <Id>25</Id>
    <Nombre>Envio de datos por RS232</Nombre>
    <Id>26</Id>
    <Nombre>Fotografia capturada</Nombre>
    <Id>27</Id>
    <Nombre>Fotografia no capturada</Nombre>
    <Id>28</Id>
    <Nombre>Mensaje USSD</Nombre>
    <Id>101</Id>
    <Nombre>Ignicion encendido</Nombre>
    <Id>102</Id>
    <Nombre>Ignicion apagado</Nombre>
    <Id>103</Id>
    <Nombre>Boton de emergencia activado</Nombre>
    <Id>104</Id>
    <Nombre>Boton de emergencia desactivado</Nombre>
    <Id>105</Id>
    <Nombre>Registrado en la red gprs</Nombre>
    <Id>106</Id>
    <Nombre>En otra condición de red gprs</Nombre>
    <Id>107</Id>
    <Nombre>Bateria principal carga baja</Nombre>
    <Id>108</Id>
    <Nombre>Bateria principal carga normal</Nombre>
    <Id>109</Id>
    <Nombre>Bateria principal desconetada</Nombre>
    <Id>110</Id>
    <Nombre>Bateria principal conectada</Nombre>
    <Id>111</Id>
    <Nombre>Exceso de velocidad activado</Nombre>
    <Id>112</Id>
    <Nombre>Exceso de velocidad desactivado</Nombre>
    <Id>113</Id>
    <Nombre>Frenado bruzco activado</Nombre>
    <Id>114</Id>
    <Nombre>Frenado bruzco desactivado</Nombre>
    <Id>115</Id>
    <Nombre>Aceleracion bruzca activado</Nombre>
    <Id>116</Id>
    <Nombre>Aceleracion bruzca desactivado</Nombre>
    <Id>117</Id>
    <Nombre>Parada excesiva activada</Nombre>
    <Id>118</Id>
    <Nombre>Parada excesiva desactivada</Nombre>
    <Id>119</Id>
    <Nombre>Curvaje bruzco activado</Nombre>
    <Id>120</Id>
    <Nombre>Curvaje bruzca desactivado</Nombre>
    <Id>121</Id>
    <Nombre>Antena gps desconectada</Nombre>
    <Id>122</Id>
    <Nombre>Antena gps conectada</Nombre>
    <Id>123</Id>
    <Nombre>Impacto - choque activado</Nombre>
    <Id>124</Id>
    <Nombre>Impacto - choque desactivado</Nombre>
    <Id>125</Id>
    <Nombre>Ent. Geo-Cerco 01 - ENT. TERM. 1</Nombre>
    <Id>126</Id>
    <Nombre>Sal. Geo-Cerco 01 - SAL. TERM. 1</Nombre>
    <Id>127</Id>
    <Nombre>Ent. Geo-Cerco 02 - ENT. TERM. 2</Nombre>
    <Id>128</Id>
    <Nombre>Sal. Geo-Cerco 02 - SAL. TERM. 2</Nombre>
    <Id>129</Id>
    <Nombre>Ent. Geo-Cerco 03 - ENT. TERM. 3</Nombre>
    <Id>130</Id>
    <Nombre>Sal. Geo-Cerco 03 - SAL. TERM. 3</Nombre>
    <Id>131</Id>
    <Nombre>Ent. Geo-Cerco 04 - ENT. TERM. 4</Nombre>
    <Id>132</Id>
    <Nombre>Sal. Geo-Cerco 04 - SAL. TERM. 4</Nombre>
    <Id>133</Id>
    <Nombre>Ent. Geo-Cerco 05 - ENT. TERM. 5</Nombre>
    <Id>134</Id>
    <Nombre>Sal. Geo-Cerco 05 - SAL. TERM. 5</Nombre>
    <Id>135</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 1</Nombre>
    <Id>136</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 2</Nombre>
    <Id>137</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 3</Nombre>
    <Id>138</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 4</Nombre>
    <Id>139</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 5</Nombre>
    <Id>140</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 6</Nombre>
    <Id>141</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 7</Nombre>
    <Id>142</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 8</Nombre>
    <Id>143</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 9</Nombre>
    <Id>144</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 10</Nombre>
    <Id>145</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 11</Nombre>
    <Id>146</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 12</Nombre>
    <Id>147</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 13</Nombre>
    <Id>148</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 14</Nombre>
    <Id>149</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 15</Nombre>
    <Id>150</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 16</Nombre>
    <Id>151</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 17</Nombre>
    <Id>152</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 18</Nombre>
    <Id>153</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 19</Nombre>
    <Id>154</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 20</Nombre>
    <Id>155</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 21</Nombre>
    <Id>156</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 22</Nombre>
    <Id>157</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 23</Nombre>
    <Id>158</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 24</Nombre>
    <Id>159</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 25</Nombre>
    <Id>160</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 26</Nombre>
    <Id>161</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 27</Nombre>
    <Id>162</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 28</Nombre>
    <Id>163</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 29</Nombre>
    <Id>164</Id>
    <Nombre>Ent. Geo-Cerco 06 - ENT. PARADA 30</Nombre>
    <Id>200</Id>
    <Nombre>Estado de conexion FMI</Nombre>
    <Id>201</Id>
    <Nombre>Mensaje (Garmin al servidor)</Nombre>
    <Id>202</Id>
    <Nombre>Mensaje de respuesta</Nombre>
    <Id>203</Id>
    <Nombre>Estado del mensaje</Nombre>
    <Id>204</Id>
    <Nombre>Detener estado</Nombre>
    <Id>205</Id>
    <Nombre>ETA</Nombre>
    <Id>206</Id>
    <Nombre>ID del conductor</Nombre>
    <Id>207</Id>
    <Nombre>Estado del controlador</Nombre>
    <Id>208</Id>
    <Nombre>No definido</Nombre>
    <Id>247</Id>
    <Nombre>Datos FMS / J1708</Nombre>
    <Id>248</Id>
    <Nombre>Datos FMS / J1708</Nombre>
    <Id>249</Id>
    <Nombre>Datos FMS / J1708</Nombre>
    <Id>250</Id>
    <Nombre>Datos OBDII</Nombre>
    <Id>251</Id>
    <Nombre>Datos FMS / J1939</Nombre>
    <Id>252</Id>
    <Nombre>Datos FMS / J1939</Nombre>
    <Id>253</Id>
    <Nombre>Datos FMS / J1939</Nombre>
    <Id>254</Id>
    <Nombre>Datos FMS / J1939</Nombre>
    <Id>255</Id>
    <Nombre>Reporte DTC</Nombre>
  </Alertas>
</Config>
